<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilio Aljarilla</title>
    <link rel="icon" type="image/png" href="../asets/img/favicon.jpg">
    <!--FotnAesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles/portfolio/portfolio.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="go-top">
        <span class="fa-solid fa-angle-up"></span>
    </div>
    
    <header id="inicio">
        <nav class="menu">
            <div class="logoCv">
                <h1><a href="#inicio">CV Emilio Aljarilla</a></h1>
            </div>
            <span class="burguer"><i class="fa-solid fa-bars"></i></span>
            <div class="lista-content">

                <ul class="lista">
                    <li><a href="#sobreMi">Sobre Mi</a></li>
                    <li><a href="#estudios">Formación</a></li>
                    <li><a href="#conocimientos">Conocimientos</a></li>
                    <li><a href="#experiencia">Experiencia Laboral</a></li>
                    <li><a href="#otherpage">Otras Páginas</a>
                        <!-- <span><a href="">Bootstrap(en proceso)</a></span>
                        <span><a href="">Angular(en proceso)</a></span>
                        <span><a href="">React(en proceso)</a></span>
                        <span><a href="">Portfolio 2.0</a></span> -->
                    </li>

                </ul>

            </div>
        </nav>
        <div class="img-header">
            <div class="bienvenido">
                <h2>Emilio M. Aljarilla Reverte</h2>
                <p>Full Stack - Analista de Datos</p>
                <div class="primerContacto">
                    <div>
                        <a href="https://www.linkedin.com/in/emaljarilla"><i
                                class="fa-brands fa-linkedin-in"></i>LinkedIn</a>
                        <a href="mailto:emaljarilla@gmail.com?subject=Primera_toma_de_contacto"><i
                                class="fa-solid fa-envelope"></i>Gmail</a>
                    </div>
                    <button class="inicioSaber">Saber más</button>
                </div>
            </div>
        </div>
        <div class="bisel-down"></div>
    </header>
    <main>
        <div class="marcador" id="sobreMi"></div>
        <section class="sobreMi">
            <div class="sobreContainer">
                <div class="sobrePresent">

                    <img id="fotoCv" src="../asets/img/foto_cv_principal.png" alt="foto curriculum" width="1183"
                        height="1650">
                    <h3>Sobre mi</h3>
                    <span class="flecha" id="flecha"><i class="fa-solid fa-plus"></i> Info</span>

                </div>
                <p class="fs-4 container mx-5 pe-5">
                    Mi objetivo profesional es fusionar el mundo de los datos con el desarrollo web, creando soluciones innovadoras y eficientes.

                </p>

                <div class="menosInfo" id="menos">
                    <p>Actualmente, formo parte del equipo de desarrollo en la Fundación Convive CEPAIM, donde puedo aplicar mis conocimientos como desarrollador junior full stack y analista de datos. Mi especialización se centra en la creación de vistas responsivas, intuitivas y modernas, creando una experiencia del usuario viva y sencilla.
                    </p>
                    <p>
                        Me considero una persona bastante dinámica, proactivo y con pensamiento crítico.
                    </p>
                    <p>
                        En mi puesto de trabajo actual, estoy participando en el desarrollo de una nueva intranet corporativa, con un enfoque principal en la optimización de la interfaz de usuario. Este proyecto tiene como objetivo proporcionar a nuestros compañeros una experiencia digital significativamente mejorada, caracterizada por:
                        <ol class="mx-5 container fs-5" type="1">
                            <li>
                                Diseño intuitivo: Implementación de una navegación más fluida y lógica, facilitando el acceso rápido a la información y recursos necesarios.
                            </li>
                            <li>
                                Estética moderna: Renovación completa del aspecto visual, incorporando principios de diseño contemporáneo para una apariencia más atractiva y profesional.
                            </li>
                            <li>
                                Experiencia de usuario mejorada: Desarrollo de funcionalidades interactivas y personalizables que se adaptan a las necesidades específicas de cada departamento y usuario.
                            </li>
                            <li>
                                Rendimiento optimizado: Mejora significativa en los tiempos de carga y respuesta, garantizando una interacción ágil y eficiente con la plataforma.
                            </li>
                            <li>
                                Robustez en ciberseguridad: Implementación de protocolos de seguridad avanzados para proteger la información sensible de la empresa y garantizar la integridad de los datos.
                            </li>
                            <li>
                                Accesibilidad multiplataforma: Asegurando una experiencia consistente y de alta calidad en diversos dispositivos y navegadores.
                            </li>
                        </ol>
                    </p>
                    <p>
                        Este proyecto no solo mejora la estética y usabilidad de nuestra intranet, sino que también potencia la productividad, la colaboración interna y la seguridad de la información corporativa.
                    </p>
                      <p>
                        Además en este proyecto estamos profundizando en soluciones tecnológicas utilizando el framework Yii2, un framework PHP de alto rendimiento que destaca por su eficiencia en el desarrollo de aplicaciones web modernas:
                        <ul class="mx-5 container fs-5">
                            <li> Creando aplicaciones web escalables y de alto rendimiento</li>
                            
                            <li>    Aprovechando su arquitectura basada en componentes</li>
                            <li>    Utilizando herramientas de seguridad incorporadas</li>
                          
                        </ul>
                    </p>
                    <p>
                        Esta experiencia complementa mi perfil como desarrollador full stack, permitiéndome ofrecer soluciones web robustas y eficientes.
                      </p>
                </div>
            </div>

        </section>
        <div class="marcador" id="estudios"></div>
        <section class="estudios">
            <div class="bisel-up"></div>
            <div class="estudiosDeg"></div>
            <div class="ejeZ">
                <div class="estuContainer">
                    <div class="estudios-tittel">
                        <h2>Formación</h2>
                        <hr>
                    </div>
                    <div class="estu-galeria">
                        <div class="estuImages">
                            <img src="../asets/img/masterD.jpg" alt="fondo-masterD" width="920" height="590">
                            <h2 style="color:#ff7b3d" class="estuInstitucion">MasterD</h2>
                            <h2 class="estunombre">Curso Superior en Programación de Páginas Web</h2>
                            <h2 class="estuOtros1">960 Horas</h2>
                            <h2 style="color:#ff7b3d" class="estuOtros2">Finalizado Nov-2024</h2>
                        </div>
                        <div class="estu-galeria">
                            <div class="estuImages scrum">
                                <img src="../asets/img/scrummanager_logotype.svg" alt="fondo-masterD" width="920" height="590">
                                <h2 style="color:#131313" class="estuInstitucion">masterD</h2>
                                <h2 class="estunombre">Certificaición académida: Scrum Manager</h2>
                                <h2 class="estuOtros1">150 PDAs</h2>
                                <h2 style="color:#131313" class="estuOtros2">Finalizado Dic-2024</h2>
                            </div>
                        <div class="estuImages">
                            <img src="../asets/img/coursera.jpg" alt="fondo-coursera" width="920" height="590">
                            <h2 style="color:#1391ff" class="estuInstitucion">coursera</h2>
                            <h2 class="estunombre">Introducción a la programación en Python I:</h2>
                            <h2 class="estuOtros1">20 horas</h2>
                            <h2 style="color:#1391ff" class="estuOtros2">Finalizado - 2023</h2>
                        </div>
                        <div class="estuImages">
                            <img src="../asets/img/coursera.jpg" alt="fondo-coursera" width="920" height="590">
                            <h2 style="color:#1391ff" class="estuInstitucion">coursera</h2>
                            <h2 class="estunombre">Curso Completo de Power BI Desktop</h2>
                            <h2 style="color:#1391ff" class="estuOtros2">Finalizado - 2023</h2>
                        </div>

                        <div class="estuImages">
                            <img src="../asets/img/formacarm.jpg" alt="fondo-formacarm" width="920" height="590">
                            <h2 style="color:#d6c9c9" class="estuInstitucion">coursera</h2>
                            <h2 class="estunombre">Edición de imágenes con GIMP</h2>
                            <h2 style="color:#ffffff" class="estuOtros2">Finalizado - 2023</h2>
                        </div>
                        <div class="estuImages">
                            <img src="../asets/img/enae.jpg" alt="fondo-enae" width="920" height="590">
                            <h2 style="color:#d6c9c9" class="estuInstitucion">ENAE: Business School</h2>
                            <h2 class="estunombre">Curso Excel Avanzado: Macros VBA </h2>
                            <h2 class="estuOtros1">35 horas</h2>
                            <h2 style="color:#d6c9c9" class="estuOtros2">Finalizado - 2022</h2>
                        </div>
                        <div class="estuImages">
                            <img src="../asets/img/universidamurcia.jpeg" alt="fondo-umu" width="920" height="590">

                            <h2 style="color:#ffffff" class="estuInstitucion">Universidad de Murcia</h2>
                            <h2 class="estunombre">Licenciado en Ciencias Políticas y de la Administración</h2>
                            <h2 style="color:#ffffff" class="estuOtros2">Finalizado - 2012</h2>
                            <span>Dominio público - <a href="https://commons.wikimedia.org/w/index.php?curid=589367">
                                    Wikipedia</a></span>

                        </div>
                    </div>

                </div>
            </div>
            <div class="bisel-down"></div>

        </section>
        <div class="marcador" id="conocimientos"></div>
        <section class="conocimientos">
            <div class="bisel-up"></div>
            <div class="conocimientosDeg"></div>
            <div class="conocimientosMain">
                <div class="tittelCono">
                    <h2>Conocimientos</h2>
                    <hr>
                </div>
                <div class="conoContent">
                    <div class="front">
                        <div class="contTit">
                            Frontend
                        </div>
                        <div class="contMain">
                            <div class="contMainIcon">
                                <div class="ico-etq">
                                    <i class="fa-brands fa-html5" style="color: #fe7c25;"></i>
                                    <p> HTML</p>
                                </div>
                                <div class="ico-etq">
                                    <i class="fa-brands fa-css3" style="color: #257cfe;"></i>
                                    <p> CSS</p>

                                </div>
                                <div class="ico-etq">
                                    <i class="fa-brands fa-sass" style="color: #ff41e6;"></i>
                                    <p> Sass</p>

                                </div>
                                <div class="ico-etq">
                                    <i class="fa-brands fa-js" style="color: #fee825;"></i>
                                    <p> JavaScript</p>

                                </div>
                                <div class="ico-etq">
                                    <i class="fab fa-bootstrap" style="color: #b108f3;"></i>
                                    <p> Bootstrap</p>

                                </div>


                            </div>
                        </div>
                        <div class="contFoo">

                        </div>
                    </div>
                    <div class="back">
                        <div class="contTit">
                            Backend
                        </div>
                        <div class="contMain">
                            <div class="contMainIcon">
                                <!--<div class="ico-etq">
                                    <i class="fas fa-cog"></i>
                                    <p>in progress</p>
                                    
                                </div>-->
                                <div class="ico-etq">
                                    <img class="m-auto" src="../asets/img/apache.png" alt="logoSQL" height="2000" width="2000">
                                    <p>Apache</p>

                                </div>
                                <div class="ico-etq">
                                    <img class="m-auto" src="../asets/img/sql.png" alt="logoSQL" height="2000" width="2000">
                                    <p>SQL-MySQL</p>

                                </div>
                                <div class="ico-etq">
                                    <i class="fa-brands fa-php" style="color: #565656;"></i>
                                    <p>PHP</p>

                                </div>
                            </div>
                        </div>
                        <div class="contFoo">

                        </div>
                    </div>
                    <div class="forma">
                        <div class="contTit">
                           colacion
                        </div>
                        <div class="contMain">
                            <div class="contMainIcon">
                               

                                <div class="ico-etq">
                                    <i class="fa-brands fa-react" style="color: #4199b1;"></i>
                                    <p>React</p>

                                </div>
                                <div class="ico-etq">
                                    <img class="m-auto" src="../asets/img/yii2.png" alt="logoYii2" height="1024"
                                        width="1024">
                                    <p>Yii2</p>
                                </div>
                                <div class="ico-etq">
                                    <img class="m-auto" src="../asets/img/node.js.png" alt="logonode" height="1024"
                                        width="1024">
                                    <p>Node.js</p>

                                </div>
                                <div class="ico-etq">
                                    <img class="m-auto" src="../asets/img/python.png" alt="logopython" height="1024"
                                        width="1024">
                                    <p>Python</p>

                                </div>
                                <div class="ico-etq">
                                    <img class="m-auto" src="../asets/img/ingles.png" alt="logobanderaCircularInglaterra" height="1024"
                                        width="1024">
                                    <p>B2</p>

                                </div>
                                <!--div class="ico-etq">
                                    <div class="figma">
                                        <div class="figmaIz">

                                            <div class="unoIPunto"></div>
                                            <div class="dosIPunto"></div>
                                            <div class="tresIPunto"></div>


                                        </div>
                                        <div class="figmaD">
                                            <div class="unoDPunto"></div>
                                            <div class="dosDPunto"></div>
                                        </div>
                                    </div>
                                    <p>Figma</p>
                                </div-->


                            </div>
                        </div>
                        <div class="contFoo">

                        </div>
                    </div>
                    <div class="herra">
                        <div class="contTit">
                            Herramientas
                        </div>
                        <div class="contMain">
                            <div class="contMainIcon">
                                <div class="ico-etq">
                                    <i class="fa-solid fa-code-branch" style="color: #ff3d3d;"></i>
                                    <p>Git</p>

                                </div>

                                <div class="ico-etq">
                                    <i class="fa-brands fa-github" style="color: #d8e8ff;"></i>
                                    <p>GitHub</p>
                                    <span>

                                </div>

                                <div class="ico-etq">
                                    <img class="m-auto" src="../asets/img/vscode.png" alt="logoVisualStudio" height="1024"
                                        width="1024">
                                    <p>Visual Studio Code</p>

                                </div>

                                <div class="ico-etq">
                                    <img class="m-auto w-100" src="../asets/img/theia.png" alt="logoVisualStudio" height="1024"
                                        width="1024">
                                    <p>Eclipse-theia</p>

                                </div>
                            </div>
                        </div>
                        <div class="contFoo">

                        </div>
                    </div>
                    <div class="otros">
                        <div class="contTit">
                            Otros
                        </div>
                        <div class="contMain">
                            <div class="contMainIcon">
                                <div class="ico-etq">
                                    <img class="m-auto" src="../asets/img/excel.png" alt="LogoExcel" height="2000" width="2000">
                                    <p>Excel</p>
                                </div>
                                <div class="ico-etq">
                                    <i class="fa-solid fa-chart-simple" style="color: #ebd80b;"></i>
                                    <p>PowerBi</p>
                                </div>
                                <div class="ico-etq">
                                    <img class="m-auto" src="../asets/img/gimp.png" alt="LogoExcel" height="48" width="48">
                                    <p>Gimp</p>
                                </div>
                                <div class="ico-etq">
                                    <img class="m-auto" src="../asets/img/ingles.png" alt="logobanderaCircularInglaterra" height="1024"
                                        width="1024">
                                    <p>B1</p>
                                </div>
                                <div class="ico-etq">
                                    <img class="m-auto" src="../asets/img/scrum.png" alt="logoscrummanager_logotype" height="1024"
                                        width="1024">
                                    <p>Scrum Manager</p>
                                </div>
                                <div class="ico-etq">
                                    <img class="m-auto" src="../asets/img/agile.png" alt="logosagile_logotype" height="1024"
                                        width="1024">
                                    <p>Métodología ágil</p>
                                </div>
                            </div>
                        </div>
                        <div class="contFoo">

                        </div>
                    </div>
                </div>

            </div>
            <div class="bisel-down"></div>
        </section>

        <div class="divBatery">
            <div class="boxBatery"></div>
            <div class="pila"></div>
            <div class="chargeZone">
                <div class="chargeLow"></div>
                <div class="chargeMiddle"></div>
                <div class="chargeHight"></div>
                <div class="chargeVeryHight"></div>
            </div>
        </div>




        <div class="marcador" id="experiencia"></div>
        <section class="experiencia">
            <!-- ç
                <div class="bisel-up"></div>
                <div class="conocimientosDeg"></div>
                <div class="conocimientosMain">
                <div class="tittelCono">
            -->
            <div class="bisel-up"></div>
            <div class="experienciaDeg"></div>
            <div class="expMain">
                <div class="tittelexp">
                    <h2>Experiencia</h2>
                    <hr>
                </div>
                <div class="expcontent">
                    <table>
                        <tr class="cabecera">
                            <th>Empresa</th>
                            <th>Área</th>
                            <th>Descripción</th>
                            <th>Fecha</th>
                        </tr>
                        <tr class="par">
                            <td>
                                Fundación Convive CEPAIM
                            </td>
                            <td>
                                Full Satck developer
                            </td>
                            <td>
                                Junior - Equipo de desarrollo
                            </td>
                            <td>
                                ago-2024 - Actual
                            </td>
                        </tr>
                        <tr class="impar">
                            <td>
                                Fundación MEDAC
                            </td>
                            <td>
                                Full Satck developer
                            </td>
                            <td>
                                Practicas formativas:  Vue.js & Phyton (100H)
                            </td>
                            <td>
                                sep-2024
                            </td>
                        </tr><tr class="par">
                            <td>
                                ISGF Informes Comerciales
                            </td>
                            <td>
                                Analista de datos
                            </td>
                            <td>
                                Co-lider del departamento de Reporting
                            </td>
                            <td>
                                2019-23
                            </td>
                        </tr>
                        <tr class="impar">
                            <td>
                                ISGF Informes Comerciales
                            </td>
                            <td>
                                Analista de datos
                            </td>
                            <td>
                                Responsable del departamento de "Reporting Retención Empresas: Orange España"
                            </td>
                            <td>
                                2018-23
                            </td>
                        </tr>

                        <tr>
                            <td>
                                ISGF Informes Comerciales
                            </td>
                            <td>
                                Analista de datos
                            </td>
                            <td>
                                Responble del departamento de “Reporting Fidelización Empresas: Orange España”
                            </td>
                            <td>
                                2017-18
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ISGF Informes Comerciales
                            </td>
                            <td>
                                Analista de datos
                            </td>
                            <td>
                                Junior Fidelización
                            </td>
                            <td>
                                2016-17
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ISGF Informes Comerciales
                            </td>
                            <td>
                                Gestor Front-Backoffice
                            </td>
                            <td>
                                Agente Comercial
                            </td>
                            <td>
                                2013-16
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ayuntamiento de Lorca
                            </td>
                            <td>
                                Assesor de Alcaldía
                            </td>
                            <td>
                                Asesor
                            </td>
                            <td>
                                2012-13
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Iniciativas El Gigante
                            </td>
                            <td>
                                Monitor-Coordinador
                            </td>
                            <td>
                                Monitor de ocio y tiempo Libre
                            </td>
                            <td>
                                2003-13 (parcial)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="bisel-down"></div>
        </section>

    </main>
    <footer class="otherpage" id="otherpage">
        <div class="otherContact">
            <div class="posother">
                <a href="https://www.linkedin.com/in/emaljarilla"><i class="fa-brands fa-linkedin-in"></i> LinkedIn</a>
                <a href="mailto:emaljarilla@gmail.com?subject=Primera_toma_de_contacto"><i
                        class="fa-solid fa-envelope"></i>
                    Gmail</a>
            </div>
        </div>
        <div class="otcontent">
            <!--h2>Otras Páginas</h2>
            <select name="other_page" id="other_page">
                <option value="1" selected>Básica</option>
                <option value="2">Bootstrap</option>
                <option value="3">React</option>
                <option value="4">Angular</option>
                <option value="5">Portfolio 2.0</option>
            </select-->

        </div>
        <div class="fotcopy">
            <p> Copyright 2024 - Emilio M. Aljarilla </p>
        </div>
    </footer>
    <script src="../scripts/portfolio/portfolio.js"></script>
</body>

</html>